
.chart {
  height: 500px;
}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    opacity: 0.5;
}

.tt {
  background-color: white;
  font-size: 13px;
  position: absolute;
  display: none;
  padding: 8px;
  box-shadow: 2px 2px 6px #666;

}
